:where(.css-dev-only-do-not-override-qgg3xn).ant-btn-primary {
   
    background-color: var(--color-button-primary);
  
  }
:where(.css-dev-only-do-not-override-qgg3xn).ant-form-item .ant-form-item-control {
    --ant-display:flex;
    padding: 15px;
    outline: none;
    border: 0;
    cursor: pointer;
   
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-form-item .ant-form-item-control-input-content {
    flex:1;
  
    
  
  }

:where(.css-dev-only-do-not-override-qgg3xn).ant-btn {
    font-size:9px;
    border-radius:5px;
   
  
  }
  :where(.css-dev-only-do-not-override-qgg3xn).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  
    background-color:var(--color-button-primary);
   
  }



  @media screen and (max-width:320px) {
  
 
  }
  @media screen and (max-width:480px) {
    
   
  }
  
  @media screen and (max-width:576px) {
   
   
  }
  
  @media screen and (max-width:640px) {
     
    
      
      }
      @media screen and (max-width:768px) {
        :where(.css-dev-only-do-not-override-qgg3xn).ant-form label {
            font-size:9px;
          }
          :where(.css-dev-only-do-not-override-qgg3xn).ant-form-item .ant-form-item-explain,
:where(.css-dev-only-do-not-override-qgg3xn).ant-form-item .ant-form-item-extra {
  
  color:green;
  font-size:9px;
 
}
:where(.css-dev-only-do-not-override-qgg3xn).ant-btn {
    font-size:9px;
    border-radius:5px;
  
  }
 
        
      }
      @media screen and (max-width:992px) {
        
         
        }
      @media screen and (min-width:1024px) {
         
      }
      @media screen and (min-width:1280px) {
          
      }
       @media screen and (min-width:1536px) {
              
          }