
.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
  
   
}
.body-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid #e0e0e2;
    border-radius: 8px;
    padding: 32px;
}
.logo {
    width: 70px;
  height: 70px;
}

.login {
   
   color: rgb(41, 43, 55);
    font-size: 16px;
    font-weight: 700;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
    font-size: 8px;
   
}

.login-textfeild {
    display: flex;
    flex-direction: column;
    gap:15px;
    font-size: 14px;
    
}
.section-input{
    
     background-color: #fff;
     padding: 4px;
     border-radius: 8px;
     border: 1px solid#c0c2c5;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 15px;
     overflow: hidden;
}

.login-input {
    color: rgb(35, 37, 78);
    border: none;   
    
    width: 100%;
    padding: 8px; 
   
   
    font-size: 14px;
}

.main-searchbar{
    display: flex;
   
width: 50%;
    
}


  
.login-btn {
   
    background-color: var(--color-button-primary);
    color: var( --color-text-button-primary);
    border-radius: 5px;
    padding: 15px;
    outline: none;
    border: 0;
    cursor: pointer;
    margin-bottom: 15px;
}

.site-privacy {
    color:#d32f2f;
    text-decoration: none;
}

 

@media screen and (max-width:320px) {
  
 
}
@media screen and (max-width:480px) {
  
 
}

@media screen and (max-width:576px) {
 
 
}

@media screen and (max-width:640px) {
   
    .privacy {
        font-size: 10px;
    }
    }
    @media screen and (max-width:768px) {
        .main-login{
            
             padding: 0;
        }
        
        .login {
            font-size: 12px;
        }
        .login-textfeild {
            font-size: 12px;
        }
        .logo {
            width: 35px;
            height: 35px;
          }
          .login-btn {
            font-size: 12px;
          }
          .login-label {
            font-size: 12px;
          }
    }
    @media screen and (max-width:992px) {
      
       
      }
    @media screen and (min-width:1024px) {
       
    }
    @media screen and (min-width:1280px) {
        
    }
     @media screen and (min-width:1536px) {
            
        }