/* * {
    margin-bottom: 150px;
  } */

/* .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 16px;
   /* border: 1px solid red; */
   /* background-color: rgb(227, 233, 227); */
   
/* }  */


/* .grid:not(:last-child) {
margin-bottom: 30px;
} */

.grid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;
}
.grid-mobile {
    /* display: grid;
    column-gap: 20px;
    row-gap: 20px; */
    display: none;
}
.grid--2--rows {
   display: none;

}

.grid--2--cols {
    grid-template-columns: 1.5fr 5fr;
    /* background-color: blueviolet; */

}


.grid--3--cols {
    grid-template-rows: 1fr 1fr 1fr

}

/* ********************* */
/* CONTENT */
/* ********************* */



.m {
    /* padding: 30px 0; */
border-radius: 16px;
background-color: yellow;
}
.content {

    /* background-color: rgb(242, 242, 242); */
    /* background-color: #f2f2f; masterkala*/
    /* background-color: rgb(243, 244, 246); */
    /* background-color: var(--color-body); */
    /* background-color: #f3f4f6;botostart */
    /* background-color: rgb(229, 231, 235) fronthooks; */

}



@media screen and (max-width:320px) {
  
 
}
@media screen and (max-width:480px) {
}
@media screen and (max-width:576px) {
 
 
}
@media screen and (max-width:640px) {
   
    
    }
    @media screen and (max-width:768px) {
        .grid {
            display: none;
        }
        .grid-mobile {
            display: grid;
            column-gap: 20px;
            /* row-gap: 20px; */
            /* background-color: brown; */
        }
      
        .grid--2--rows {
            grid-template-rows: 0fr 15fr;
            /* grid-template-columns: 1fr; */
            /* background-color: green; */
            padding: 0;
        
        }
        .filter-order_mobile {
            /* background-color: orange; */
            display: flex;
            /* justify-content: space-between; */
            align-items: center;
            gap: 40px;
            padding: 10px;
            font-size: 12px;
        }
        /* .grid--2--cols {
            grid-template-rows: 1fr 5fr;
        } */
        /* .grid--2--cols{
            display: none;
        } */

    }
    @media screen and (max-width:992px) {
     
    
    }
    @media screen and (max-width:1024px) {
     
    }
    @media screen and (min-width:1280px) {
        
    }
     @media screen and (min-width:1536px) {
            
        }