

.grid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;
}
.grid-mobile {
  
    display: none;
}
.grid--2--rows {
   display: none;

}

.grid--2--cols {
    grid-template-columns: 1.5fr 5fr;
  

}


.grid--3--cols {
    grid-template-rows: 1fr 1fr 1fr

}

/* ********************* */
/* CONTENT */
/* ********************* */



.m {
    
border-radius: 16px;
background-color: yellow;
}




@media screen and (max-width:320px) {
  
 
}
@media screen and (max-width:480px) {
}
@media screen and (max-width:576px) {
 
 
}
@media screen and (max-width:640px) {
   
    
    }
    @media screen and (max-width:768px) {
        .grid {
            display: none;
        }
        .grid-mobile {
            display: grid;
            column-gap: 20px;
          
        }
      
        .grid--2--rows {
            grid-template-rows: 0fr 15fr;
           
            padding: 0;
        
        }
        .filter-order_mobile {
         
            display: flex;
            align-items: center;
            gap: 40px;
            padding: 10px;
            font-size: 12px;
        }
       
    }
    @media screen and (max-width:992px) {
     
    
    }
    @media screen and (max-width:1024px) {
     
    }
    @media screen and (min-width:1280px) {
        
    }
     @media screen and (min-width:1536px) {
            
        }