

.single-product-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 gap: 30px;
 
}
.section-img {
 
  padding: 15px;
  object-fit: contain;
  width: 500px;
 
}
.product-main-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
   
}
.mainimg {
  width: 100%;
  height: 80%;
  object-fit: contain;
}
.subimg {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.product-subimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 30%; 
  object-fit: contain;
 
}
.breadcrumbs {
  display: flex;
  justify-content: start;
  gap: 20px;

}
  
.product-section {
  display: flex;
  justify-content: space-between;
 
}
.product-img-information {
  display: flex;
  gap: 40px;
}
.product-information {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.p-categoty {
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 30px;
}

.product-attribute {
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 20px;
}


  
.product-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.product-color-img {

  width: 70px;
  object-fit: contain;
  padding: 10px;
}
.color-section {
display: flex;
flex-wrap:wrap;
align-items: center;
gap: 18px;
}
.color-item {
  display: flex;
  flex-direction: column;
  align-items: center;
 border: 1px solid  var(--color-border-primary-100);
 border-radius: 6px;
 color: var( --color-text-secondary-100);
 font-size: 16px;
 cursor: pointer; 

}
.color-is-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-border-neutral);
  border-radius: 6px;
 

}
.color-name {
  padding: 6px;
  color: var( --color-text-secondary-200);

}
.count-available-product {
  color: green;
}

.product-size {
display: flex;
flex-direction: column;
gap: 30px;
}
.size-section {
  display: flex;
    gap: 15px;
  align-items: center;
  list-style: none;
  }
  .size-is-active {
   
    background-color: var(--bgcolor-500);
    border: solid 1px var(--color-border-neutral);
    border-radius: 6px;
    padding: 10px;
    padding-right: 0;
    color: var( --color-text-neutral-300);
    font-size: 15px;
    font-weight: 500;
  }
  .li-size {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .size-item  {
   
    border: 1px solid var(--color-border-secondory-100);
    border-radius: 6px;
    
    padding: 10px;
    padding-right: 0;
    color: var( --color-text-secondary-100);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }
  .input-size {
   opacity: 0;
   cursor: pointer;
  }
  

.seller-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.seller-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border: 1px solid var( --color-border-primary);
  background-color: var( --bgcolor);
  border-radius: 16px;
  padding: 20px;
}
.section-price_off {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.product-orginal_price {

  color: var(--color-text-primary-100);
  text-decoration: line-through;
  
}
.priceoff-section{
 
   color: var( --color-text-secondary);
   font-weight: 700;
}

.off-section {
 
  background-color: var( --bgcolor-100);
  border-radius: 20px;
  color:var( --color-border-secondory-500) ;
  padding-right: 4px;
  padding-left: 4px;
}

.icon-count {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
 
  
  border: 1px solid var( --color-border-secondory);
  border-radius: 8px;
  padding: 10px;
  

}
.icon {
  color: var( --color-icon-primary);
   

}
.icon-btn {
 
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  border: unset;
  background: 0;
  font-size: 16px;
}
.add-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.btn-add_cart {
  background-color: var(--color-button-primary);
  color: var( --color-text-button-primary);
  border-radius: 5px;
  padding: 15px;
  outline: none;
  border: 0;
  cursor: pointer;
}



.ads-section{
    display: flex;
    justify-content: space-between;
  align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.ads-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 align-items: center;
  gap: 5px;
  color: var( --color-text-primary-100);
  text-decoration: none;

}
.img {
    width: 20px;
    height: 20px;
    }
    .hr-div {
     
      border-color:var( --color-border-secondory-300) ;
      border-bottom-color:var( --color-border-secondory-400) ;
    
  
  }
  
    .product-details_tab {
      margin-bottom: 50px;
    }
    .product-details {
      display: flex;
      align-items: center;
      gap:40px;
      margin-top: 20px;
      margin-bottom: 50px;
      text-decoration: none;
      list-style-type: none;
      font-size: 16px;
    }
   
    .nav-menu_item{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: var( --bgcolor-500);
     
      
      }  
      .product-detail_byitem {
       
         cursor: pointer;
         border-radius: 15px;
         color: var( --color-text-primary);
     
  
         
     }
      .detail-is_active::before{
        position: absolute;
        content: '';
        background-color: var( --bgcolor-600);
        top:25px;
        
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 200ms;
      }
      
.nav-menu_link{
  
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 5px;
    color: var( --color-text-secondary-300);
  text-decoration: none;
  cursor: pointer;
  
  }

    

.modal {
  height: 200px;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 32px;
}
.modal-body {
  color: var(--color-button-primary);
  font-size: 16px;
  font-weight: 400;
}

.modal-footer {
  display: flex;
  gap: 20px;
 
}
.modal-btn {
  background-Color:  var(--color-button-primary);
  color: var( --color-text-primary-200);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;

}

.modal-btn :hover {
  color: var( --color-text-primary-200);
}

.modal-btn_buy{
 
  color: var( --color-text-button-primary-100);
 
  font-weight: 400;
  border: 1px solid var( --color-border-secondory-200);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.modal-btn_buy:hover {
 
  color: var( --color-text-button-primary-100);
}





@media screen and (max-width:640px) {
  .product-details {
    gap: 20px;
  }
  .nav-menu_item {
    font-size: 10px;
  }
  .product-section {
   flex-direction: column;
  }
  .product-img-information {
    flex-direction: column;
  }
  .seller-top {
    font-size: 9px;
  }
  .btn-add_cart {
    font-size: 10px;
  }
 
  }
  @media screen and (max-width:768px) {
    .single-product-detail {
      font-size: 12px;
    }
    .size-item {
      font-size: 9px;
    }
   
    .product-details_tab {
      font-size: 12px;
    }
    .product-section {
      flex-direction: column;
    }
    .section-img {
      width: 300px;
    
    }
    .product-img-information {
      flex-direction: column;
     
    }
    body {
      margin-bottom: 150px;
    }
    .seller-section {
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 3;
      margin-bottom: 50px;
      background-color: var( --bgcolor-500);
      font-size: 11px;
      width: 100%;
      display: flex;
      align-items: center;
      color: var( --color-text-secondary);
      gap: 20px;
  
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
       rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.14) 0px -1px 1px 0px,
        rgba(0, 0, 0, 0.05) 0px -2px 2px 0px;
        
    }
    .seller-top {
      display: flex;
      align-items: center;
      gap: 10px;
      border: none;
      background-color: var(--bgcolor-500);
      padding: 20px;
      width: 100%;
     
    }
    .product-color-img {
      width: 50px;
      padding: 5px;
    }
    .color-item {
      font-size: 12px;
    }
    .ads-section {
      font-size: 9px;
     
    }
    
    .img {
     
      width: 15px;
      height: 15px;
    }
    .add-section {
      flex-shrink: 0;
      font-size: 9px;
    }
    .btn-add_cart {
      flex-shrink: 0;
      min-width: 50%;
     
    }
    
  }
  @media screen and (max-width:992px) {
     .product-section {
      gap: 30px; 
      flex-wrap: wrap;
     
     }
    
    .color-name {
      font-size: 12px;
    }
    .size-item {
      font-size: 12px;
    }
     .product-title {
      font-size: 12px;
    }
    .product-color-img {
      width: 50px;
      padding: 5px;
    }
    .color-item {
      font-size: 12px;
    }
    .ads-section {
      font-size: 9px;
      
    }
    
    .img {
     
      width: 15px;
      height: 15px;
    }
    .add-section {
      flex-shrink: 0;
      font-size: 9px;
    }
    .product-details{
      font-size: 12px;
    }
    .single-product-detail {
      font-size: 12px;
    }
    .btn-add_cart {
      font-size: 10px;
    }
    .icon-count {
      font-size: 12px;
    }
   
  }
  @media screen and (min-width:992px) and (max-width:1280px) {
    .product-section {
    
      gap: 30px; 
      flex-wrap: wrap;
     
     }
    .single-product-detail {
      font-size: 12px;
    }
    .product-title {
      font-size: 12px;
    }
    .color-name {
      font-size: 12px;
    }
    .size-item {
      font-size: 12px;
    }
    .btn-add_cart {
      font-size: 12px;
    }
  }
   @media screen and (min-width:1536px) {
          
      }
