.icon-count {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  border: 1px solid #e0e0e2;
  border-radius: 8px;
  padding: 10px;
  

}
.icon {
    color:rgb(239, 57, 78);
    cursor: pointer;

}

@media screen and (max-width:320px) {
  
 
}
@media screen and (max-width:480px) {
  
  /* .icon-count {
display: none;
border: none;
background-color: green;
  } */
}

@media screen and (max-width:576px) {
 
}
@media screen and (max-width:640px) {
 
  
   
   
  }
  @media screen and (max-width:768px) {
   
  }
  @media screen and (max-width:992px) {
    
  }
  @media screen and (max-width:1024px) {
   
   
  }
  @media screen and (min-width:1280px) {
      
  }
   @media screen and (min-width:1536px) {
          
      }
   
   
   
    
   
      

  
 


  