
.sort {
    color: brown;
}

.sort-section {

    display: flex;
   
    align-items: center;
  
    text-decoration: none;
    list-style: none;
   
    gap:7px ;
}


.sort-icon {
    width:5px;
    height: 5px;
}
.sort-header {
    display: flex;
    gap: 3px;
    font-weight: bold;
    color: #000;
  
}



.sort-byitem {
  
    cursor: pointer;
    border-radius: 15px;
    color: var(--color-text-primary);
    padding: 3px 10px;
   
    
}

.sort-byitem :hover {
  
    background-color: var( --bgcolor-hover-primary-300);
    border-radius: 5px;
    
    

}



.sort-is_active {
   
    background-color: var( --bgcolor-900);
    color: var( --color-text-neutral-300);
    cursor: pointer;
    border-radius: 5px;
    padding: 3px 10px;
}


.sort-mobile {
    display: none;
}


@media screen and (max-width:320px) {
  
 
}
@media screen and (max-width:480px) {
}
@media screen and (max-width:576px) {
 
 
}
@media screen and (max-width:640px) {
   
    
    }
    @media screen and (max-width:768px) {
        .sort-section {
        
            display: none;
         }
         .sort-mobile{
            display: flex;
            align-items: center;
            gap: 3px;
            font-weight: bold;
            color: #000;
            cursor: pointer;
            position: relative;
         }
    }
    @media screen and (max-width:992px) {
     
    
    }
    @media screen and (max-width:1024px) {
     
    }
    @media screen and (min-width:1280px) {
        
    }
     @media screen and (min-width:1536px) {
            
        }