._category-header_tf3vs_111 {
   
    align-items: start;
   
  }

  :where(.css-dev-only-do-not-override-kmmaf).ant-checkbox .ant-checkbox-inner {

    border-radius: 0px;
  }

  :where(.css-dev-only-do-not-override-kmmaf).ant-checkbox-checked .ant-checkbox-inner {
    background-color:#ef4056;
    /* background-color: var(--color-icon-primary-100); */
    /* border-color:#ef4056; */
    border-color: var(--color-border-neutral-100);
  }

  :where(.css-dev-only-do-not-override-kmmaf).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    background-color:#ef4056;
    /* background-color: var(--bgcolor-hover-primary-200); */
    /* border-color:#ef4056; */
  }
  :where(.css-dev-only-do-not-override-kmmaf).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-kmmaf).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color:#ef4056;
}

/* background-color: #91caff; */

:where(.css-dev-only-do-not-override-kmmaf).ant-slider .ant-slider-handle::after {
  /* content:"";
  position:absolute;
  inset-block-start:0;
  inset-inline-start:0;
  width:10px;
  height:10px; */
  /* background-color:#ef4056; */
  background-color: var(--bgcolor-1050);
  box-shadow:0 0 0 2px #ef4056;
  /* border-radius:50%;
  cursor:pointer;
  transition:inset-inline-start 0.2s,inset-block-start 0.2s,width 0.2s,height 0.2s,box-shadow 0.2s; */
}

:where(.css-dev-only-do-not-override-kmmaf).ant-slider .ant-slider-handle:hover::after,
:where(.css-dev-only-do-not-override-kmmaf).ant-slider .ant-slider-handle:active::after,
:where(.css-dev-only-do-not-override-kmmaf).ant-slider .ant-slider-handle:focus::after {
  box-shadow:0 0 0 4px #ef4056;
  
}

:where(.css-dev-only-do-not-override-kmmaf) a:hover {
  color:orchid;
}


:where(.css-dev-only-do-not-override-kmmaf) a:active {
  color:red;
}
:where(.css-dev-only-do-not-override-kmmaf).ant-collapse>.ant-collapse-item >.ant-collapse-header {
  
  padding:8px 10px;
  /* line-height:1.5714285714285714; */
  /* font-size: 8px; */
  
}
.ant-collapse-header {
  padding: 8px 10px;
}
.ant-collapse-content-box {
  padding: 5px;
}


:where(.css-dev-only-do-not-override-kmmaf).ant-collapse {
 
  font-size:14px;
 
}

:where(.css-dev-only-do-not-override-kmmaf).ant-checkbox-wrapper {
  font-size: 12px;
}
:where(.css-dev-only-do-not-override-kmmaf).ant-checkbox {
  font-size: 8px;
}

:where(.css-dev-only-do-not-override-kmmaf).ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  font-size: 10px;
}

:where(.css-dev-only-do-not-override-kmmaf).ant-slider {
  font-size: 12px;
}



/* :where(.css-dev-only-do-not-override-kmmaf).ant-checkbox .ant-checkbox-inner:after {
  box-sizing:border-box;
  position:absolute;
  top:50%;
  inset-inline-start:21.5%;
  display:table;
  width:5.7142857142857135px;
  height:9.142857142857142px;
  border:2px solid #fff;
  border-top:0;
  border-inline-start:0;
  transform:rotate(45deg) scale(0) translate(-50%,-50%);
  opacity:0;
  content:"";
  transition:all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}
:where(.css-dev-only-do-not-override-kmmaf).ant-checkbox .ant-checkbox-input {
  position:absolute;
  inset:0;
  z-index:1;
  cursor:pointer;
  opacity:0;
  margin:0;
}
:where(.css-dev-only-do-not-override-kmmaf).ant-checkbox .ant-checkbox-inner:after {
  box-sizing:border-box;
  position:absolute;
  top:50%;
  inset-inline-start:21.5%;
  display:table;
  width:5.7142857142857135px;
  height:9.142857142857142px;
  border:2px solid #fff;
  border-top:0;
  border-inline-start:0;
  transform:rotate(45deg) scale(0) translate(-50%,-50%);
  opacity:0;
  content:"";
  transition:all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}
:where(.css-dev-only-do-not-override-kmmaf).ant-checkbox .ant-checkbox-inner {
  box-sizing:border-box;
  position:relative;
  top:0;
  inset-inline-start:0;
  display:block;
  width:16px;
  height:16px;
  direction:ltr;
  background-color:#ffffff;
  border:1px solid #d9d9d9;
  border-radius:8px;
  border-collapse:separate;
  transition:all 0.3s;
} */

/* :where(.css-dev-only-do-not-override-kmmaf).ant-radio-wrapper .ant-radio-inner::after { */
  /* box-sizing:border-box;
  position:absolute;
  inset-block-start:50%;
  inset-inline-start:50%;
  display:block;
  width:16px;
  height:16px;
  margin-block-start:-8px;
  margin-inline-start:-8px;
  background-color:#fff;
  border-block-start:0;
  border-inline-start:0;
  border-radius:16px;
  transform:scale(0);
  opacity:0;
  transition:all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  content:""; */



  /* box-sizing:border-box;
  position:absolute;
  top:50%;
  inset-inline-start:21.5%;
  display:table;
  width:5.7142857142857135px;
  height:9.142857142857142px;
  border:2px solid #fff;
  border-top:0;
  border-inline-start:0;
  transform:rotate(45deg) scale(0) translate(-50%,-50%);
  opacity:0;
  content:"";
  transition:all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
} */