
.filter-mobile {
   display: none;
}



.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
}

.filter-header_right {
    
    color: var(--color-text-secondary-700);
    font-weight: 700;
}

.filter-header_left { 
    cursor: pointer;
    color: var( --color-text-neutral-300);
  font-size: 14px;
}
.category-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-category {
  
   display: flex;
   flex-direction: column;
   gap: 5px;
    max-height: 300px;
     overflow: auto;
     color: rgba(0, 0, 0, 0.88);
     font-size: 12px;
}
.cat-item {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--color-border-primary-300);
    padding-top: 8px;
    padding-bottom: 8px;
}
.cat-item_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.88);
}
.cat-item_link :hover {
    color: red ;
}
.icon-checkmark {
width: 18px;
height: 18px;
align-items: center;
}
.expanded{
    color: red;
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.unexpanded {
    cursor: pointer;
}
.icon-category{
    color: black;
    font-size: 20px;
   
}
.icon-category_expanded {
  
    transition: transform 0.3s;
    transform: rotate(90deg);
    font-size: 20px;
   
}
.list-shown {

 margin-top: 5px;
display: flex;
flex-direction: column;
gap: 5px;
}
.list-cat_item {
    margin-right:15px ;
  
}
.list-cat_subitem {
    margin-right:30px ;
   
}
.header-panel{
  
    color: var(--color-text-secondary-700);
    
}
.filter-priceRange{
    display: flex;
    flex-direction: column;
  
    gap: 20px;
}
.priceRange {
    display: flex;
    flex-direction: column;
    gap: 20px;
   
    color: var( --color-text-primary);
}
.rangeInput {
    display: flex;
    align-items: center;
    gap: 10px;

    
}

.inputRange {
   
    border: solid 1px var(--color-border-secondory-100);
    color: #000;
    text-align: left;
    border-radius: 8px;
   padding: 10px 5px;
  
   background-color: var(--bgcolor-800);
   font-size: 12px;
}
.btn-filter_pricerange {
  background-color: var(--color-button-primary);
  color: var(  --color-text-primary-200);
  border-radius: 8px;
  padding: 15px;
  outline: none;
  border: 0;
  cursor: pointer;
}





@media screen and (max-width:320px) {
  
 
}
@media screen and (max-width:480px) {
}
@media screen and (max-width:576px) {
 
 
}
@media screen and (max-width:640px) {
   
   
    }
    @media screen and (max-width:768px) {
        .filter {
           
            display: none;
         }
         .filter-mobile {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: bold;
            color: #000;
            cursor: pointer;
            position: relative;
         }
         .filter-icon {
            width: 20px;
            height: 20px;
           
         }
    }
    @media screen and (max-width:992px) {
     
    
    }
    @media screen and (max-width:1024px) {
        .priceRange {
            font-size: 12px;
        }
     .btn-filter_pricerange {
        font-size: 12px;
     }
    }
    @media screen and (max-width:1280px) {
        
    }
     @media screen and (max-width:1536px) {
            
        }