@import "../../colorPallet";
/* @import url(../../colorPallet.css); */





/* .grid:not(:last-child) {
margin-bottom: 30px;
} */

.grid {
    display: grid;
    column-gap: 100px;
    row-gap: 150px;
}

.grid--5--cols {
    grid-template-columns: 2.5fr 1fr 1fr 2fr 

}

/* ********************* */
/* FOOTER */
/* ********************* */

.footer {
    padding: 30px 0;
    border-radius: 16px;
    /* background-color: rgb(229, 231, 235); */
    background-color: var(--bgcolor-footer);
    font-size: 14px;
   
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
    }
    
    .logo {
        display: flex;
        width: 60px;
        height: 60px;
        
        }
    
        .logo-about {
            display: flex;
            flex-direction: column;
            /* justify-content: start; */
            /* align-items: center; */
        }
    
        .about {
            /* border:1px solid #777; */
    
         /* margin-top: 10px; */
         /* background-color: rgba(24, 28, 50, 0.12); */
         background-color: var(  --bgcolor-1000);
         border-radius: 16px;
         padding: 32px;
           
        }
    
        .about-p {
            font-size: 14px;
           
            
        }
.nav-col {

}


.footer-heading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom:40px ;
    /* botostart milad sabad */
    /* background-color: rgb(232, 234, 246);
color: rgb(126, 87, 194); */
    
}
.lit {
    background-color: transparent;
    list-style-type: none;
}
.footer-nav {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.footer-link {
text-decoration: none;

/* font-size: 14px; */
/* color: #777; */
color: var( --color-linkfooter);

transition: all 0.3s;
/* background-color: transparent; */
/* display: flex; */
}


.footer-link:hover,
.footer-link:active {
  /* color: #555; */
  /* color: #eb3a3a; */
  color: var( --color-linkfooter-hover-100);
 
}

.address {
    margin-bottom: 38px;
}

.contacts {
    font-size: 14px;
    /* line-height:4; */
    margin-bottom: 12px;
}

.contacts-link {
    display: flex;
    gap: 12px;
}

.logo-col {
    display: flex;
    flex-direction: column;
}



.social-links {
    list-style: none;
    display:flex ;
    /* justify-content: center; */
    align-items: center;
    gap:35px;
}

.social-icon {
width: 20px;
height: 20px;
}

.social-icon:hover {
    /* color:#eb3a3a; */
    color: var( --color-linkfooter-hover-100);

}



.social {
    margin-top: 50px;
}

.newsletter-section {
margin-top: 30px;

}
.newsletter_frm {
margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 360px;
  height: 40px;
  /* position: relative; */
  overflow: hidden;
  /* background-color: #fff; */
  background-color: var(  --bgcolor-500);
  border-radius: 6px;

}

.newsletter_input {
    padding-left: 65px;
  padding-right: 15px;
  border: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  font-size: 12px;
  /* border: 1px solid #d9d9d9;  */
 /* border-radius: 6px; */
  overflow: hidden;

}
.newsletter_btn {
    width: 60px;
  height: 100%;
  /* background-color: #EC1C24; */
  /* background-color: #ef4056; */
  background-color: var( --color-button-primary);
  /* color:#fff; */
  color: var(  --bgcolor-500);
  line-height: 40px;
  border: none;
  /* position: absolute; */
  /* left: 0; */
  /* font-weight: bold; */
  /* top: 0; */
  cursor: pointer;
  overflow: hidden;
  /* border: 1px solid #d9d9d9; */
  /* border-radius: 6px; */
}

@media screen and (max-width:320px) {
  
 
}
@media screen and (max-width:480px) {
 
  
 
}

@media screen and (max-width:576px) {
 
   
}
@media screen and (max-width:640px) {
 
   
  }
  @media screen and (max-width:768px) {
    
    .footer {
        display: none;
    }
  }
  @media screen and (max-width:992px) {
   
  }
  @media screen and (max-width:1024px) {
    .footer {
       font-size: 12px;
       padding: 30px 20px;
    }
    .grid {
        column-gap: 50px;
    }
    .grid--5--cols {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 2fr ;
        row-gap: 20px;
    }
    .about-p{
        /* font-size: 12px; */
    }
  }
  @media screen and (max-width:1280px) {
    .grid--5--cols {
        /* grid-template-rows: 2.5fr 1fr 1fr 2fr ; */
    }
  }
   @media screen and (min-width:1536px) {
          
      }
   